<!DOCTYPE html>
<html>
  <head>
    <title>Tarea21</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <script src="https://use.fontawesome.com/your-embed-code.js"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <!-- Scripts -->
    <%= javascript_include_tag "main" %>
    <%= javascript_include_tag "jquery.min" %>
    <%= javascript_include_tag "browser.min" %>
    <%= javascript_include_tag "breakpoints.min" %>
  </body>
</html>
